# <center>Assignment - 2</center>

#### Q1. How do you comment code in Python? What are the different types of comments?

Two types of comments available in python.
* Single line comment
* Multi line comment (Docstring comment)

Please find example of comment code below:

In [3]:
# Single line comment example

print("This is example of single line comments")

This is example of single line comments

In [4]:
""" This is multi line comment example
use triple quotes for multiline  comment """

print("This is example of multi line comments")

This is example of multi line comments

#### Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are container which stores values in Python. Python variable stores differet types of data. Once we assign value to variable, we can use that by variable name. Python is not strictally typed So, we don't need to provide type of data while assigning value to variable. We can not declare variable in python with paticular data type. We need to direct assign value to varible for creating variable in python.

Please find below example for declare and assign values to variable:

In [8]:
# interger value
varInt = 5

#flat value
varFloat = 5.5

#string value
varStr = "PWSkills"

In [11]:
print(varInt)
print(type(varInt))

5
<class 'int'>

In [12]:
print(varFloat)
print(type(varFloat))

5.5
<class 'float'>

In [13]:
print(varStr)
print(type(varStr))

PWSkills
<class 'str'>

#### Q3. How do you convert one data type to another in Python?

Python provides type casting concept for convert one data type to another and also provides built in functions for these.

In [14]:
# Lets declare string variable
varValue = "52"

In [15]:
type(varValue)

str

In [16]:
# convert varValue from string to int using type casting
varValueNew = int(varValue)

In [17]:
type(varValueNew)

int

#### Q4. How do you write and execute a Python script from the command line?

* We need to open command prompt. Write 'python' keyword and press enter. So, it enables to write python code in cmd. You need to wite code press enter so, it can display outpu in next line.
* If we have python script in particular folder in our machine then also we can run this in cmd. For that we need to open cmd and change path where our file is saved. After that we need to write command 'python {file name with py extension}' and press enter. It will display output of python script which is written in provided file.

#### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [18]:
my_list = [1,2,3,4,5]

In [19]:
my_list

[1, 2, 3, 4, 5]

In [21]:
my_list[1:3]

[2, 3]

In [24]:
my_list[-4:3]

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex number is a element which contains real number and imaginary unit. Imaginary unit denotes with 'i'
ex: 1+2i

In python imaginary unit denotes with 'j'.
ex: 1+2j

In [25]:
varComplex = 1+2j

In [26]:
type(varComplex)

complex

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In python we can not declare a variable with specific data type. Varibale will create once we assign value to it.

In [29]:
age = 25

In [30]:
age

25

#### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [31]:
price = 9.99

In [32]:
type(price)

float

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [33]:
name = 'Jaymin Trivedi'

In [34]:
print(name)

Jaymin Trivedi

#### Q10. Given the string "Hello, World!", extract the substring "World".

In [36]:
varWelcome = "Hello, World!"

In [37]:
varWelcome[7:12]

'World'

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [39]:
is_student = True

if is_student:
    print("You are a student.")
else:
    print("Yor are not a student")

You are a student.